/* RESET */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
}

* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}
article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

img,
video {
    max-width: 100%;
}

img {
    border-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
[hidden] {
    display: none !important;
}

[disabled] {
    cursor: not-allowed;
}

:focus:not(:focus-visible) {
    outline: none;
}
.srOnly {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    left: -9999px;
    top: -9999px;
}

/* MAIN CSS */

body {
  font-family: 'Playfair Display', serif;
  color: white;
}
h4, h5, h6 {
  color: rgb(221, 182, 78);
  text-transform: uppercase;
  mix-blend-mode: difference;
}
h4 {
  font-size: 3.4rem;
}
h5 {
  font-size: 2.8rem;
}
h6 {
  font-size: 2.2rem;
}
blockquote {
  font-family: 'Cinzel', serif;
}
blockquote span {
  font-size: 2.4rem;
  color: rgb(221, 182, 78);
  padding: 0 .8rem;
}
#wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  background-color: rgb(20, 24, 54);
  transition: all .3s ease-in-out;
}

/* HEADER */


#wrapper #mainHeader {
  width: 100%;
  margin: 2em 0 0;
}
#mainHeader #mainNav {
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
#mainNav > a {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.circleIcon {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.circleIcon .circleBox {
  width: 100%;
  height: 100%;
}
.circleIconBox {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}
.circleIconBox .circle {
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 2s ease-in-out;
  margin: auto;
}
.circleIconBox .big {
  width: 50px;
  height: 50px;
}
.circleIconBox .medium {
  width: 25px;
  height: 25px;
  right: 25px;
  transform-origin: right;
  animation: clockwiserotation 4s ease-in-out infinite;
}
.circleIconBox .small {
  width: 15px;
  height: 15px;
  right: 35px;
  transform-origin: 25px center;
  animation: clockwiserotation 4s ease-out infinite;
}
.circleIconBox .tiny {
  width: 5px;
  height: 5px;
  left: 45px;
  transform-origin: -20px center;
  animation: clockwiserotation 4s ease-in-out infinite;
}
@keyframes clockwiserotation {
  to {transform: rotate(360deg);}
}
#navCheck {
  display: none;
}
.navBtn {
  display: none;
  width: 30px;
  height: 50px;
  margin: 10px 15px 0;
  float: right;
  transition: all .2s ease-in-out;
}

.navBtn::after,
.navBtn::before,
.navBtn div {
  background-color: white;
  content: '';
  display: block;
  height: 2px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}
#mainNavTabs {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-self: center;
  margin: 0;
  padding: 0;
  user-select: none;
}
#mainSection > input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
#mainSection > label {
  position: relative;
  top: 0;
  display: inline-block;
  width: auto;
  min-width: 100px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
}
#mainSection > label::after {
  content: "";
  height: 3px;
  width: 10%;
  position: absolute;
  bottom: 5px;
  left: 2px;
  transition: width ease-out .2s;
}
#mainSection > .mainNavElem:nth-child(4)::after {
  background-image: linear-gradient(to right, rgb(174, 246, 81) , rgb(71, 208, 150));
}
#mainSection > .mainNavElem:nth-child(6)::after {
  background-image: linear-gradient(to right, rgb(71, 208, 150) , rgb(77, 150, 236));
}
#mainSection > .mainNavElem:nth-child(8)::after {
  background-image: linear-gradient(to right, rgb(77, 150, 236) , rgb(148, 83, 255));
}
#mainSection > .mainNavElem:nth-child(10)::after {
  background-image: linear-gradient(to right, rgb(148, 83, 255) , rgb(255, 126, 62));
}
#mainSection > .mainNavElem:nth-child(12)::after {
  background-image: linear-gradient(to right, rgb(255, 126, 62) , rgb(255, 216, 48));
}
#mainSection .mainNavElem:hover::after {
  width: 90%;
}
#mainSection input:checked + .mainNavElem {
  font-weight: 600;
}
#mainSection input:checked + .mainNavElem::after {
  width: 90%;
}
#mainSection #mlTab:checked ~ #introduction h2::before {
  content: "Machine Learning";
}
#mainSection #mlTab:checked ~ #mainSectionBox #mlSection {
  display: block;
}
#mainSection #mlTab:checked ~ #mainSectionBox #mlIntro,
#mainSection #mlTab:checked ~ #mainSectionBox #mlAside {
  display: block;
}
#mainSection #bitcoinTab:checked ~ #introduction h2::before {
  content: "Bitcoin";
}
#mainSection #bitcoinTab:checked ~ #mainSectionBox #bitcoinIntro,
#mainSection #bitcoinTab:checked ~ #mainSectionBox #bitcoinAside {
  display: block;
}
#mainSection #appsTab:checked ~ #introduction h2::before {
  content: "Apps";
}
#mainSection #appsTab:checked ~ #mainSectionBox #appsIntro,
#mainSection #appsTab:checked ~ #mainSectionBox #appsAside {
  display: block;
}
#mainSection #blogTab:checked ~ #introduction h2::before {
  content: "Books";
}
#mainSection #blogTab:checked ~ #mainSectionBox #blogIntro,
#mainSection #blogTab:checked ~ #mainSectionBox #blogAside {
  display: block;
}

#lightInput {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  max-height:1px;
}
#lightLabel {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  height: 25px;
  width: 100px;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 5px;
  text-transform: uppercase;
  mix-blend-mode: exclusion;
  z-index: 10;
}
#lightLabel:hover {
  cursor: pointer;
}

#lightLabel span {
  position: relative;
}
#lightLabel span::after {
  content: "";
  width: 30%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -5px;
  left: 15px;
  transition: all .3s ease-in-out;
  mix-blend-mode: exclusion;
}
#lightLabel:hover span::after {
  left: 0px;
}
input#lightInput:checked + #lightLabel {
}
input#lightInput:checked + #lightLabel span::after {
  left: 40px;
}
input#lightInput:checked + #lightLabel:hover span::after {
  left: 60px;
}
input#lightInput:checked ~ #wrapper {
  background: white;
  color: black;
}
input#lightInput:checked ~ #wrapper .navBtn:after,
input#lightInput:checked ~ #wrapper .navBtn:before,
input#lightInput:checked ~ #wrapper .navBtn div {
  background-color: black;
}

input#lightInput:checked ~ #wrapper .circleIcon .circle {
  border: 2px solid black;
}
input#lightInput:checked ~ #wrapper #mainSection .blogFooter .previousBox span {
  color: black;
}
input#lightInput:checked ~ #wrapper #mainSection .blogFooter a:hover {
  color: rgba(0, 0, 0, .5);
}


/* MAIN SECTION */
#wrapper #mainSection {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
#mainSection #introduction {

}
#introduction #introMessage {

}
#introMessage h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  color: white;
  mix-blend-mode: difference;
  white-space: nowrap;
  z-index: 10;
}
#introMessage h2::before {
  content: "";
  display: block;
  font-size: 3.4rem;
  margin: 60px auto 0;
  color: rgb(221, 182, 78);
}
#mainSection .blogAside {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
#mainSection #blogNav {
  border-right: 1px solid rgb(221, 182, 78);
}
#mainSection #blogNav > .blogNavUl {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
}
#mainSection #blogNav .blogNavLi {
  position: relative;
  transition: color .3s ease-in-out;
  padding: 2rem 0;
}
#mainSection #blogNav .blogNavLi:hover::before,
#mainSection #blogNav .blogNavLi:focus::before {
  content: "\203A";
	display: block;
	left: -10px;
	position: absolute;
  cursor: pointer;
}
#mainSection #blogNav .blogNavLi:hover,
#mainSection #blogNav .blogNavLi:hover::before,
#mainSection #blogNav .blogNavLi:focus::before {
  color: rgb(221, 182, 78);
}
#mainSection #blogNav .blogNavLiChild {
  font-size: 1.4rem;
  opacity: .7;
}
/* ML SECTION */

.clearSections {
  display: none;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#mainSectionBox .mainSectionDetails {
  position: relative;
  width: 100%;
  padding-top: 40px;
}
.mainSectionDetails summary {
}
.mainSectionDetails summary::-webkit-details-marker {
  color: rgb(221, 182, 78);
  width: 20px;
  height: 20px;
}
.mainSectionDetails summary {
  position: absolute;
  right: calc(50% - 15px);
  top: 6px;
  outline: 0;
  outline-style:none;
  outline-width:0;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
/* .mainSectionDetails summary:before, summary:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: rgb(221, 182, 78);
  transition: transform .2s ease-in-out;
}
.mainSectionDetails summary:before {
  transform: rotate(45deg);
}
.mainSectionDetails summary:after {
  transform: rotate(-45deg);
}
.mainSectionDetails[open] summary:before {
  transform: rotate(135deg);
}
.mainSectionDetails[open] summary:after {
  transform: rotate(45deg);
} */
#mlIntro #mlImg {
  width: 100%;
  height: 100%;
  background-image: url("../images/circleLab.png");
  background-position: center center;
  background-size: 200px auto;
  background-repeat: no-repeat;
}
#mainSection #mlAside {
  display: none;
}
#mainSection aside {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem 1.4rem;
  font-size: 2rem;
}
#mainSection aside blockquote {
  background-color: rgba(0, 0, 0, .1);
  padding: 2.2rem 1.4rem;
  margin: 2.2rem 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  outline: 1px solid rgb(221, 182, 78);
  outline-offset: 5px;
}
#mainSection aside blockquote a:hover {
  text-decoration: underline;
}
#mainSection aside blockquote span {
  text-decoration: none;
}
#mainSection aside .iconsBox {
  outline: 1px solid rgb(221, 182, 78);
  outline-offset: 5px;
  margin: 2.2rem 0;
}
#mainSection aside .iconsBox .iconsUl {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  background-color: rgba(0, 0, 0, .1);
}
#mainSection aside .iconsUl li {
  min-width: 80px;
  padding-top: 10px;
}
#mainSection aside .iconsUl li img {
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid rgb(221, 182, 78);
}
#mainSection .blogSection {
  display: none;
}
#mainSection .blogSection h4 {
  margin: 2.8rem 0;
}
#mainSection .blogSection h5 {
  color: rgb(221, 182, 78);
  text-transform: uppercase;
  mix-blend-mode: difference;
  margin: 2.2rem 0;
}
#mainSection .blogArticles {
  outline: 1px solid rgb(221, 182, 78);
  outline-offset: 5px;
  margin: 5px;
}
#mainSection .blogArticles .previewSection {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(221, 182, 78);
}
#mainSection .blogArticles .previewBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  max-height: 240px;
  overflow: hidden;
  transition: all .4s ease-in-out;
}
#mainSection .previewBox .previewPost {
  position: relative;
  width: 300px;
  height: 200px;
  border: 3px solid rgb(221, 182, 78);
  border-radius: 10px;
  margin: 2rem;
}
#mainSection .previewBox .previewPost .tags {
  background-color: rgba(255, 255, 255, .8);
  padding: .4rem;
  color: black;
}
#mainSection .previewBox .previewPost .tags::before {
  content: "Tags:";
  display: block;
  text-transform: uppercase;
}
#mainSection .previewBox .previewPost .tags a:hover {
  text-decoration: underline;
}
#mainSection .previewBox .previewPost .postDate {
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
#mainSection .blogArticles input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#mainSection .blogArticles input[type="checkbox"]:checked + label::before,
#mainSection .blogArticles input[type="checkbox"]:checked + label::after {
  content: "\2191";
}
#mainSection .blogArticles input[type="checkbox"]:checked ~ .previewBox {
  max-height: 500px;
}
#mainSection .blogArticles label:hover,
#mainSection .blogArticles label:focus {
  font-weight: 800;
}
#mainSection .blogArticles label {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 20px;
  cursor: pointer;
  z-index: 100;
}
#mainSection .blogArticles label::before,
#mainSection .blogArticles label::after {
  content: "\2193";
  margin: 0 20px;
  font-size: 2.4rem;
  color: rgb(221, 182, 78);
}
#mainSection .post .entryTags {
}
#mainSection .post header a:hover {
  opacity: 0.6;
}
#mainSection .post .entryDate,
#mainSection .post .entryComments {
  font-style: italic;
  display: inline;
}
#mainSection .post .entryComments::before {
  content: "\2014";
  display: inline;
  padding: 0 2px 0 0;
}
#mainSection .post a {
  font-weight: 800;
}
#mainSection .blogArticles .post {
  margin-top: 10px;
}
#mainSection .blogArticles .post p {
  text-align: left;
  margin: 0 10px;
}
#mainSection .blogArticles .post #dropCap {
  font-size: 55px;
  line-height: 50px;
  float: left;
  outline: 1px solid rgb(220, 170, 50);
  outline-offset: -5px;
  border: 1px solid rgb(220, 170, 50);
  padding: 5px;
  margin-right: 7px;
  color: rgb(220, 170, 50);
}
#mainSection .blogFooter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-family: 'Libre Baskerville', Georgia, serif;
  font-style: italic;
  width: 100%;
  height: 100%;
  margin: 1.4rem auto;
  border-top: 1px solid rgb(221, 182, 78);
}
#mainSection .blogFooter h6 {
  font-size: 1.2rem;
  margin: 5px 0;
}
#mainSection .blogFooter p {
  display: inline-block;
  width: 100%;
}
#mainSection .blogFooter .shareBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  margin-bottom: 20px;
}
#mainSection .blogFooter .previousBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: right;
}
#mainSection .blogFooter a:hover {
  color: rgba(255, 255, 255, .5);
}
#mainSection .previousPost span {
  display: block;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
  padding-bottom: 4px;
}

/* BITCOIN SECTION */
#bitcoinIntro #bitcoinImg {
  width: 100%;
  height: 100%;
  background-image: url("../images/bitcoin1.png");
  background-position: center center;
  background-size: 200px auto;
  background-repeat: no-repeat;
}
#wrapper #bitcoinAside {
  display: none;
}

/* APPS SECTION */
#appsIntro #appsImg {
  height: 100%;
  width: 100%;
  background-image: url("../images/check2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 200px auto;
}
#wrapper #appsAside {
  display: none;
}

/* FOOTER SECTION */


#wrapper #mainFooter {
  width: 100%;
  font-family: 'Libre Baskerville', Georgia, serif;
  background-color: rgba(0, 0, 0, .1);
  padding: 10px 0 50px;
}
#mainFooter > a {
  display: inline-block;
  width: 50px;
  height: 50px;
}
#mainFooter #footerBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}
#mainFooter #footerBox p {
  font-size: 1.4rem;
}
#footerBox p span {
  font-size: 2.8rem;
}
#footerBox #footerIconBox {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: .8rem;
}
#footerIconBox > p {
  display: block;
  text-transform: uppercase;
  font-weight: 800;
}
#footerIconBox #footerIcons {
  width: 100%;
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#footerBox #footerIconBox i {
  margin: 0 1.2rem;
  color: rgb(221, 182, 78);
  transition: color .2s ease-in-out;
}
#footerBox #footerIconBox i:hover {
  color: rgb(255, 126, 62);
}
#mainFooter .footerQuote {
  display: block;
  width: 100%;
  margin-bottom: 3.2rem;
}
#footerBox .footerDiv {
  margin: .8rem;
  font-style: italic;
}
#footerBox h6 {
  font-size: 1.6rem;
  font-style: normal;
  white-space: nowrap;
  mix-blend-mode: normal;
  color: rgb(221, 182, 78);
  padding: 1rem 0;
}
#footerBox .footerDiv a {
  color: rgb(221, 182, 78);
}



/* MEDIA SECTION */

@media (max-width: 700px) {
  #mainNav > h2 {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .navBtn {
    position: relative;
    display: inline-block;
  }
  .navBtn > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
  }
  #mainSection > label {
    width: calc(100% - 60px);
    height: 0;
    overflow-y: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-self: center;
    transition: height .3s ease-in-out;
  }
  #navCheck:checked ~ label {
    height: 50px;
  }
  #navCheck:checked ~ .navBtn:before {
    transform: translateY(9px) rotate(135deg);
  }
  #navCheck:checked ~ .navBtn:after {
    transform: translateY(-9px) rotate(-135deg);
  }
  #navCheck:checked ~ .navBtn div {
    transform: scale(0);
  }
  #mainFooter #footerBox {
    flex-flow: column nowrap;
  }
  #mainFooter #footerBox #footerIcons {
    width: 300px;
  }
  #footerIconBox #footerIcons {
    width: 100px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  #mainFooter #footerBox .footerDiv {
    border-top: 2px solid rgb(221, 182, 78);
  }
}
@media (min-width: 1300px) {
  #mainSection .blogAside {
    width: 300px;
    height: auto;
    position: fixed;
    left: 0;
    top: 20%;
  }
  #mainSection #blogNav {
    width: 100%;
    height: 100%;
  }
}
